/* Header ------------------------------------*/
.header-logo {
  z-index: 3;
}

.header-logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-navBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.header-navBtn-border {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.header-navBtn-border:nth-child(1) { top: 17px; }
.header-navBtn-border:nth-child(2) { top: 24px; }
.header-navBtn-border:nth-child(3) { top: 31px; }

.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(230, 230, 230, .5);
  backdrop-filter: blur(40px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s cubic-bezier(.215,.61,.355,1);
}


/* header-head ------------------------------*/
.header-head {
  position: relative;
  padding: 34px 34px 0 34px;
  margin-bottom: 36px;
  display: flex;
}

.header-head .header-logo {
  position: relative;
  height: 40px;
  aspect-ratio: 608/523;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-head .header-navBtn {
  top: 29px;
  right: 19px;
  z-index: 3;
}

.header-head.header-navOpen .header-bg {
  opacity: 1;
  pointer-events: auto;
}


/* header-fix ------------------------------*/
.header-fix {
  position: fixed;
  top: -64px;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 64px;
  background-color: #fff;
  transition: top .35s;
}

.header-fix.on {
  top: 0;
}

.header-fix .header-logo {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(0, -50%);
}

.header-fix .header-logo span {
  font-size: 24px;
  font-weight: 800;
}

.header-fix .header-navBtn {
  top: 7px;
  right: 13px;
  z-index: 3;
}

.header-fix.header-navOpen .header-bg {
  opacity: 1;
  pointer-events: auto;
}

/* HeaderInner ---------------------------------*/
.header-inner {
  position: fixed;
  top: 50vh;
  left: 0;
  z-index: 3;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s cubic-bezier(.215,.61,.355,1);
}

.header-fix.header-navOpen .header-inner,
.header-head.header-navOpen .header-inner {
  opacity: 1;
  pointer-events: auto;
}

.nav-wrap ul li {
  box-sizing: border-box;
  width: 100%;
  padding-right: 40px;
}

.nav-wrap ul li a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 16px 40px;
  font-size: 22px;
  font-weight: 700;
  color: #000;
}